:root {
  --container-width: 1200px;
  --container-padding: 24px;
  --header-height: 70px
}

.container {
  max-width: var(--container-width);
  margin: 0 auto;
  padding: 0 var(--container-padding);
}

.section {
  padding: 80px 0;
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 32px;
}
.hero-text,
.sobre-texto,
.medicos .subtitulo {
  max-width: 600px;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    scroll-behavior: smooth;
    font-family: 'SN Pro', sans-serif;
    font-size: 16px;

}

.card {
  font-size: 14.5px;
}

.btn {
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.3px;
}


/* HEADER */
.header {
  background: transparent;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--header-height);
  z-index: 1000;
}
.header-hide {
  transform: translateY(-100%);
}
.header.show {
  background: rgba(31, 143, 122, 0.55);
  backdrop-filter: blur(10px);
}

.header-container {
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
  align-items: center;
}
.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: transform 0.3s ease, background 0.3s ease;
}

.logo {
  font-weight: 300;
  font-size: 30px;
}

.menu-desktop a {
  color: white;
  margin-left: 20px;
  text-decoration: none;
  font-family: 'SN Pro', sans-serif;
  font-weight: 300;
  font-size: 18px;
}

.menu-toggle {
  display: none;
  font-size: 30px;
  cursor: pointer;
}

/* MENU LATERAL */
#menu-lateral {
  position: fixed;
  top: 0;
  right: -260px;
  width: 250px;
  height: 100%;
  background: rgba(31, 143, 122, 0.95);
  display: flex;
  flex-direction: column;
  padding: 40px 20px;
  transition: 0.3s;
  z-index: 10000;
}

#menu-lateral a {
  color: white;
  margin-bottom: 20px;
  text-decoration: none;
  font-size: 18px;
  font-family: 'SN Pro', sans-serif;
  font-weight: 200;
}

/* HERO */
.hero {
    position: relative;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("img/hero-bg.png");
    color: white;
    overflow: hidden;
    padding: 70px;
}

.hero-content {
  min-height: 100vh;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 100px 20px;
  position: relative;
  z-index: 2;
  
}

.hero-text {
    max-width: 500px;
    text-align: left;
}
.hero-text h1 {
  font-size: 48px;
  line-height: 1.2;
  font-weight: 700;
  
}
.hero-text p {
  font-size: 16px;
  margin: 20px 0;
  opacity: 0.9;
  margin-bottom: 30px;
  
}
.hero-text a {
  padding: 14px 28px;
  border: none;
  background: white;
  color: #1f8f7a;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 8px;
  font-weight: 400;
}


.departamentos {
    background: #ffffff;
    padding: 60px 0;
}
.departamentos-grid {
    background: #ffffff;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    justify-content: center;
  }
  .departamentos .card {
    width: 100%;
    max-width: 250px;
    text-align: center;
    padding: 20px 16px;
  }
  .departamentos h2 {
   text-align: center;
   font-size: 35px;
   font-weight: 500;
   margin-bottom: 32px;
}
.departamentos h3 {
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
    color: #111;
    margin-bottom: 12px;
}
.departamentos p {
    margin: 0 auto;
    font-size: 18px;
    font-weight: 350;
    line-height: 1.6;
    color: #111;
}

.card {
  background: #ffffff;
  color: #333;
  flex: 1 1 calc(25% - 20px);
  min-width: 200px;
  padding: 30px 20px;
  border-radius: 10px;
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
}
.card i {
  width: 100px;
  height: 100px;
  background: rgba(31, 143, 122, 0.85);
  color: #ffffff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  margin: 0 auto 16px;
}

.sobre {
  padding: 100px 0;
}

.sobre .container{
  background: #ffffff;
  display: flex;
  align-items: center;
  gap: 40px;
}


.sobre-imagem img {
  width: 100%;
  max-width: 450px;
  border-radius: 10px;
}
.sobre-texto {
    text-align: 500px;
    padding-left: 0;
}
.sobre-texto h2 {
    font-size: 28px;
    margin-bottom: 15px;
    margin-left: 0;
    text-align: left;
}
.sobre-texto p {
    font-size: 18px;
    font-weight: 350;
    line-height: 1.6;
    text-align: left;
    margin-bottom: 20px;
}

.medicos {
    background: #1f8f7a;
    color: white;
    text-align: center;
    padding: 80px 0;
}
.medicos h2 {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 10px;
}
.medicos p {
  font-size: 18px;
  font-weight: 350;
}
.medicos .subtitulo {
    max-width: 500px;
    margin: 0 auto 40px auto;
    opacity: 0.9;
}
.medicos .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
.medicos-card {
    background: white;
    border-radius: 10px;
    overflow: hidden;
    padding: 0;
}
.medico-img {
    height: 350px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.medico-img img {
    max-width: 100%;
    max-height: 200%;
    object-fit: contain;
}

.medico-info {
    padding: 10px;
}
.medico-info h3 {
    margin: 5px 0;
    color: #333;
}
.medico-info span {
    font-size: 14px;
    color: #1f8f7a;
}



/* MAPA */
.mapa iframe {
  width: 100%;
  height: 320px;
  border-radius: 10px;
}

.footer {
  background: #1f8f7a;
  color: #fff;
  padding: 60px 20px 20px;
}

.footer-container {
  max-width: 1200px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}

.footer-col h3 {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 600;
}

.footer-col p {
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 10px;
  font-weight: 350;
}
.footer-col p i {
  margin-right: 8px;
} 

.footer-col ul {
  list-style: none;
  padding: 0;
}

.footer-col ul li {
  margin-bottom: 10px;
}

.footer-col ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: 350;
}

.footer-col ul li a:hover {
  text-decoration: underline;
}

/* Social icons */
.social-icons {
  margin-top: 15px;
  display: flex;
  gap: 10px;
}

.social-icons a {
  font-size: 25px;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #ffffff;
  text-decoration: none;
}

/* Newsletter */
.newsletter {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.newsletter input {
  padding: 12px;
  border-radius: 5px;
  border: none;
}

.newsletter button {
  padding: 12px;
  border: none;
  border-radius: 5px;
  background: #a1ded9;
  color: #000;
  cursor: pointer;
  font-weight: 400;
  font-size: 15px;
}

.newsletter button:hover {
  background: #a1ded9;
}

/* Footer bottom */
.footer-bottom {
  text-align: center;
  margin-top: 40px;
  font-size: 18px;
  font-weight: 350;
  opacity: 0.8;
}

/* 📱 Responsivo */
@media (max-width: 900px) {
  .footer-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 500px) {
  .footer-container {
    grid-template-columns: 1fr;
  }
}


/* RESPONSIVO */
@media (max-width: 800px) {
  .menu-desktop {
    display: none;
  }
  .menu-toggle {
    display: block;
  }
}

@media (max-width: 800px) {
  
  .hero-text h1 {
    font-size: 36px;
  }
  .hero-image {
    margin-top: 20px;
  }
  .container {
    padding: 0 16px;
  }
  header {
    padding: 14px 0;
    position: fixed;
    background: rgba(255, 255, 255, 0.95);
  }
  header a {
    color: #0f3d3e;
  }
  .logo {
    font-size: 25px;
    font-weight: 300;
  }
  .hero {
    min-height: 70vh;
    background-position: top center;
    background-attachment: scroll;
    padding: 0;
    
  }
  .hero-content {
    margin-top: var(--header-height);
    padding-top: calc(var(--header-height)+ 20px);
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 60px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;;
  }
  
  .hero-text {
    max-width: 100%;
    margin-top: 30px;
  }
  .hero-text h1 {
    font-size: 40px;
    line-height: 1.25;
    margin-bottom: 30px;
  }
  .hero-text p {
    font-size: 20px;
    margin-bottom: 50px;
  }
  .hero-text button {
    width: auto;
    padding: 14px 26px;
  }
  
  .section {
    padding: 60px 0;
  }
  .departamentos {
    padding: 50px 0;
  }
  .sobre {
    padding: 50px 0;
  }
  .medicos {
    padding: 70px 0;
  }
  /*====DEPARTAMENTOS====*/
  .departamentos-grid {
    grid-template-columns: 1fr;
    
  }
  .departamentos .card {
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
  }
  /*====SOBRE====*/
  .sobre .container {
    flex-direction: column;
  }
  .sobre-imagem img {
    max-width: 100%;
  }
  .sobre-texto h2 {
    text-align: center;
  }
  .sobre-texto p {
    text-align: center;
    font-weight: 350;
  }
  /*====MÉDICOS====*/
  .medicos .grid {
    grid-template-columns: 1fr;
  }
  .medico-img {
    height: auto;
    padding: 0px;
  }
  .medico-img img {
    width: 100%;
    object-fit: contain;
  }
  
 
  /*====MAPA====*/
  .mapa iframe {
    height: 280px;
    width: 100%;
  }
  .mapa {
    padding: 60px 0;
  }
  .mapa .container {
    flex-direction: column;
    text-align: center;
    gap: 20px;
  }
  
  /* 📱 Responsivo */
@media (max-width: 800px) {
  .footer-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 800px) {
  .footer-container {
    grid-template-columns: 1fr;
  }
}

  
}